[Unit]
Description=SmartDNS Server Logger Service
After=network.target
StartLimitBurst=0
StartLimitIntervalSec=60

[Service]
PIDFile=/var/run/smartdns.pid
EnvironmentFile=/etc/default/smartdns
ExecStart=/usr/sbin/dns_server.py --zmq=ipc:///tmp/dns_server_zmq --mongodb=aaa --node_id=10.11.200.100 --dns=1.1.1.1 --log /tmp/dns_server.log
Restart=always
RestartSec=2
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
Alias=smartdns-server.service
