[Unit]
Description=SmartDNS Server Logger Service
After=network.target
StartLimitBurst=0
StartLimitIntervalSec=60

[Service]
Type=simple
EnvironmentFile=/etc/default/smartdns
ExecStart=/usr/sbin/dns_server.py --socket=udp://127.0.0.1:33441 --log /tmp/dns_server.log $MONGODB $NODE_ID $DNS $EXTRA_SERVER_OPTS
Restart=always
RestartSec=2
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
Alias=smartdns-server.service
